.about_header{
  margin-top: 0px;
  background-color:#1D4781;
  display: flex;
}
.about_header_a{
  margin-top: 65px;
  margin-bottom: 62px;
  margin-left: 9.53%;
  background-color:#1D4781;
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
/* identical to box height, or 50% */

letter-spacing: 0.2em;

color: #FFFFFF;
}
.about_header_a_a{
  margin-top: 54px;
  font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 64px;
/* or 19% */

letter-spacing: 0.2em;

color: #FFFFFF;
}
.about_header_b{
  margin-top: 111px;
  margin-right: 9.51%;
  margin-left: auto;
  width: 28.4722%;
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 26px;
/* or 144% */

letter-spacing: 0.2em;

color: #FFFFFF;
}
.about_a_a{
  margin-top: 34px;
  margin-left: 9.51%;
  margin-right: 9.51%;
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
/* or 117% */

letter-spacing: 0.2em;

/* 1 */

color: #EEA03C;
}
.about_a_b{
  margin-top:50px;
  margin-left: 9.51%;
  margin-right: 9.51%;
  display: flex;
}
.about_a_b_a{
  width: 49.522%;
  font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
letter-spacing: 0.15em;

/* 3 */

color: #333333;
}
.about_a_b_b{
  width: 36.40%;
  margin-left: auto;
  font-family: Arial;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 29px;
letter-spacing: 0.15em;

/* 3 */

color: #333333;
}
.about_a_b_c{
  margin-top: 30px;
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 32px;
/* or 162% */

letter-spacing: 0.15em;

/* 3 */

color: #333333;
}

.about_a_c{
  display: flex;
  margin-left: 9.51%;
  margin-right: 9.51%;
}
.about_a_c_a{
  width: 48%;
}
.about_a_c_b{
  width: 48%;
  margin-left: auto;
}
.about_a_c_c{
  display: flex;
  margin-left: 9.51%;
  margin-right: 9.51%;
  margin-top: 25px;
}
.about_a_c_c_a{
  width: 23.45%;
}
.about_a_c_c_b{
  margin-left: auto;
  width: 40.83%;
}
.about_a_c_c_c{
  margin-left: auto;
  width: 32.14%;
}
.container {
  position: relative;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #333333;
  display: flex;
  flex-direction: column;
}
.overlay_a{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 13px;
}
.container:hover .overlay {
  opacity: 0.8;
}

.about_text {
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  color: #FFFFFF;
}
.text_1{
  font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;
/* identical to box height, or 100% */

letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF;
}