body{
    margin: 0px;
  }
  .banner-container_Rrrr_fin {
    display: flex;
    width: 100%;
  left: 0px;
  text-align: center;
  background: url('../assests/image\ 45.png');
    padding: 0px 0px;
    background-repeat: no-repeat;
    font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  /* identical to box height, or 61% */
  
  text-align: justify;
  letter-spacing: 0.1em;
  text-transform: capitalize;

  color: #FFFFFF;
  background-size: 100% 533px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.69);
  }
  .finannnn_fin{
    display: flex;
    height: 579px;
  }
  .banner-container__text_fin{
    margin-left: auto;
    margin-right: auto;
    margin-top: 114px;
  }
  @media (max-width: 768px) {
    .banner-container_Rrrr_fin {
        padding: 100px 15px;
    }
  }
  .about_d_a_fin{
    margin-left: 9.51%;
    margin-right: 9.51%;
    font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
  /* or 162% */
  
  letter-spacing: 0.1em;
  
  /* 3 */
  
  color: #333333;
  }
  .about_d_b{
    margin-top: 52px;
    margin-left: 9.51%;
    margin-right: 9.51%;
  }
  .about_d_b_a{
    /* secondary */
  
  font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 64px;
  /* identical to box height, or 133% */
  
  
  /* 2 */
  
  color: #1D4781;
  }
  .about_d_b_b{
    margin-top: 4px;
    font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
  /* or 162% */
  
  letter-spacing: 0.1em;
  
  color: #000000;
  }
  .contact_us_rt{
    margin-top: 10px;
    margin-left: 9.51%;
  }
  .contact_us_rt>button{
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.2em;
    width: 222px;
    height: 71px;
    text-transform: uppercase;
    color: #1D4781;
    background: white;
    border: solid #1D4781 3px;
    display: flex;
  }
  .contact_us_A_rt{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .contact_us_A_a_rt{
    margin-left: 5px;
  }
  @media (max-width: 550px) {
    .banner-container_Rrrr_fin{
      background: url('../assests/Finance_mobile.png');
      padding: 0px 0px;
      background-repeat: no-repeat;
      background-size: 100% 533px;
    }
    .about_d_a_fin{
      margin-left: 19px;
      margin-right: 18px;
      font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 30px;
/* or 200% */

letter-spacing: 0.1em;

/* 3 */

color: #333333;
    }
    .about_d_b{
      margin-left: 19px;
      margin-right: 18px;
      margin-top: 50px;
    }
    .about_d_b_a{
      font-family: Georgia;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 64px;
/* identical to box height, or 213% */


/* 2 */

color: #1D4781;
    }
    .about_d_b_b{
      font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 30px;
/* or 200% */

letter-spacing: 0.1em;

color: #000000;
    }
  }