*{
    box-sizing: border-box;
  }
  body{
    margin: 0px;
  }
  .banner-container_Rrrr_lead {
    display: flex;
    width: 100%;
  left: 0px;
  text-align: center;
  background: url('../assests/about\ Mask\ Group\ 1.png');
    padding: 0px 0px;
    background-repeat: no-repeat;
    font-family: Georgia;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  /* identical to box height, or 61% */
  
  text-align: justify;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  background-size: 100% 533px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.69);
  }
  .finannnn_lead{
    display: flex;
    height: 579px;
  }
  .banner-container__text_lead{
    margin-left: auto;
    margin-right: auto;
    margin-top: 114px;
  }
  @media (max-width: 768px) {
    .banner-container_Rrrr_lead {
        padding: 100px 15px;
    }
  }
  .about_d_a_lead{
    margin-top: 25px;
    margin-left: 9.51%;
    margin-right: 9.51%;
    font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
  /* or 162% */
  
  letter-spacing: 0.1em;
  
  /* 3 */
  
  color: #333333;
  }
  .about_leader_a{
    background: #FBFBFB;
    margin-left: 9.51%;
    margin-right: 9.51%;
    display: flex;
    margin-top: 45px;
  }
  .about_leader_b{
    margin-top: 23px;
    margin-right: 25px;
    width: 282px;
  }
  .about_leader_b{
    margin-top: 23px;
    margin-bottom: 75px;
  }
  .about_leader_d{
    font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 64px;
  /* identical to box height, or 100% */
  
  
  /* 2 */
  
  color: #1D4781;
  }
  .about_leader_e{
    margin-top:7px;
    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 64px;
    /* identical to box height, or 178% */
    
    
    /* Gray 4 */
    
    color: #BDBDBD;
  }
  .about_leader_c{
    margin-top: 12px;
  }
  .about_leader_f{
    font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 39px;
  /* or 162% */
  
  letter-spacing: 0.1em;
  
  /* 3 */
  
  color: #333333;
  
  }
  @media (max-width: 768px){
    .banner-container__text_lead{
      font-family: Georgia;
font-style: normal;
font-weight: bold;
font-size: 48px;
line-height: 60px;
/* or 125% */

text-align: justify;
letter-spacing: 0.1em;
text-transform: capitalize;

color: #FFFFFF;

text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.69);
    }
    .about_d_a_lead{
      margin-left: 16px;
      margin-right: 16px;
      font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 30px;
/* or 200% */

letter-spacing: 0.1em;

/* 3 */

color: #333333;
    }
    .about_leader_a{
      flex-direction: column;
    }
    .about_leader_b{
      width: 100%;
      display: flex;
    }
    .about_leader_b>img{
      margin-left: auto;
      margin-right: auto;
    }
    
  .about_leader_b>img {
    width: 100%;
}
    .about_leader_d{
      font-family: Georgia;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 64px;
/* identical to box height, or 213% */


/* 2 */

color: #1D4781;
    }
    .about_leader_e{
      font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 64px;
/* identical to box height, or 320% */


/* Gray 4 */

color: #BDBDBD;

    }
    .about_leader_f{
font-family: Arial;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 30px;
/* or 200% */

letter-spacing: 0.1em;

/* 3 */

color: #333333;
    }
  }
  @media (max-width: 550px){
    .banner-container_Rrrr_lead{
      background: url('../assests/Mask\ Group\ \(2\)\ 2.png');

    }

  }